/* CODE COMPONENT */

.code-component {
	background: #282923;
	color: #f8f8f2;
	padding: 15px;
	line-height: 25px;
	font-family: monospace;
	font-size: 14px;
	border-radius: 3px;
}

.code-component .var,
.code-component .function,
.code-component .function-dec {
	color: #67d8ef;
}

.code-component .var,
.code-component .function-dec {
	font-style: italic;
}

.code-component .for,
.code-component .else,
.code-component .return,
.code-component .symbol,
.code-component .if {
	color: #f92472;
}

.code-component .string {
	color: #e7db74;
}

.code-component .comment {
	color: #74705d;
}

.code-component .tab {
	width: 20px;
	display: inline-block;
}

.code-component .function-arg {
	color: #fd9621;
	font-style: italic;
}

.code-component .function-name {
	color: #a6e22c;
}

.code-component .escape-char {
	color: #ac80ff;
}