/* CODE COMPONENT */

.code-component {
	background: #282923;
	color: #f8f8f2;
	padding: 15px;
	line-height: 30px;
	font-family: monospace;
	font-size: 14px;
}

.code-component .var {
	font-style: italic;
	color: #67d8ef;
	font-weight: bold;
}

.code-component .for,
.code-component .else,
.code-component .return,
.code-component .symbol,
.code-component .if {
	color: #f92472;
}

.code-component .string {
	color: #e7db74;
}

.code-component .comment {
	color: #74705d;
}

.code-component .tab {
	width: 20px;
	display: inline-block;
}