/* CODE COMPONENT */

.code-component {
	background: #282923;
	color: #f8f8f2;
	line-height: 25px;
	font-family: monospace;
	font-size: 14px;
	border-radius: 3px;
	padding: 15px 0;
}

.code-filename {
	font-size: 16px;
	border-bottom: 1px solid #666;
	padding: 0 15px 5px;
}

.code-line {
	display: table;
	width: 100%;
}
.code-line:hover {
	background: #3e3d32;
}

.code--line-number,
.code--line-content {
	display: table-cell;
	padding: 5px;
}

.code--line-number {
	width: 20px;
	font-size: 12px;
	text-align: right;
	user-select: none;
}

.code-component .var,
.code-component .function,
.code-component .function-dec {
	color: #67d8ef;
}

.code-component .var,
.code-component .function-dec {
	font-style: italic;
}

.code-component .for,
.code-component .else,
.code-component .return,
.code-component .symbol,
.code-component .if {
	color: #f92472;
}

.code-component .comment {
	color: #74705d;
}

.code-component .tab {
	width: 30px;
	display: inline-block;
	background: linear-gradient(transparent 0%, transparent calc(50% - 1px), #74705d 50%, transparent calc(50% + 1px), transparent 100%);
	margin-right: 5px;
}

.code-component .function-arg {
	color: #fd9621;
	font-style: italic;
}

.code-component .function-name {
	color: #a6e22c;
}

.code-component .escape-char,
.code-component .number {
	color: #ac80ff;
}

.code-component .string,
.code-component .string .number,
.code-component .string .symbol {
	color: #e7db74;
}
