/* DARK MODE */

.dark-mode,
.dark-mode .cgm-header,
.dark-mode .article-content--image {
	background: #282923;
	color: #f8f8f2;
}

.dark-mode .article-content a {
	color: #45D3DD;
}
.dark-mode .article-content a::after {
	filter: invert(76%) sepia(57%) saturate(518%) hue-rotate(135deg) brightness(90%) contrast(91%);
}

.dark-mode .resume-page h2,
.dark-mode blockquote {
	background: #333;
}