/* FIGURE COMPONENT */
.article-content--image {
	text-align: center;
	margin: 45px auto;
	background: #f5f5f5;
	padding: 10px;
}
.article-content--image img {
	max-width: 100%;
	margin: auto;
	max-height: 600px;
	cursor: pointer;
}
.article-content--image figcaption {
	margin-top: 10px;
	font-size: 14px;
}

.image-component--line {
	display: inline-block;
}
.image-component--line .article-content--image {
	display: block;
	width: 33.3%;
	margin: auto;
	padding: 0;
	float: left;
	border: 1px solid white;
	box-sizing: border-box;
}
.image-component--line.line2 .article-content--image {
	width: 50%;
}
.image-component--line.line4 .article-content--image {
	width: 25%;
}
.image-component--line figcaption {
	display: none;
}