/* FIGURE COMPONENT */
.article-content--image {
	text-align: center;
	margin: 45px auto;
	background: #f5f5f5;
	padding: 10px;
}
.article-content--image img {
	max-width: 100%;
	margin: auto;
	max-height: 600px;
	cursor: pointer;
}
.article-content--image figcaption {
	margin-top: 10px;
	font-size: 14px;
}

.image-component--line {
	white-space: nowrap;
}
.image-component--line .article-content--image {
	display: inline-block;
	width: 33.3%;
	margin: auto;
	padding: 0;
}
.image-component--line figcaption {
	display: none;
}