/* FOOTER */
.footer {
	background: #111;
	height: 100px;
	color: white;
	position: relative;
}

.footer--link {
	position: absolute;
	top: calc(50% - 9px);
	border-bottom: 0px #DDD solid;
	cursor: pointer;
	transition: border-width linear .1s;
}
.footer--link:hover {
	border-width: 1px;
}

.footer--back-main {
	left: 5%;
}

.footer--back-top {
	right: 5%;
}

.footer--link--arrow {
	margin-right: 10px;
	font-size: 16px;
}