.cgm-header {
	background: white;
	color: #333;
	height: 800px;
	text-align: left;
	margin-bottom: 0;
	overflow: hidden;
}

.cgm-header h1 {
	display: none;
}

.cgm-header h3 {
	line-height: 70px;
	font-weight: normal;
}

.cgm-header .inner-center-aligner {
	width: 90%;
}

.main--header {
	background-position: 50%;
	background-size: cover;
	background-color: #45D3DD;
}
.main--header .black-layer {
	z-index: 0;
	opacity: 0.3;
}

.main--header .background-src {
	color: white;
	position: absolute;
	bottom: 15px;
	right: 15px;
	opacity: 0;
	transition: opacity linear 0.2s;
	z-index: 9999;
}
.main--header:hover .background-src{
	opacity: 1;
}

.inner-center-aligner{
	z-index: 2;
}

.header-square {
	position: absolute;
	height: 180px;
	width: 180px;
	background-color: #FF5C92;
	transform: rotate(100deg);
	top: 8%;
	left: 8%;
	z-index: 1;
	opacity: .6;
	transition: all linear 0.8s 0.8s;
}
.header-circle {
	position: absolute;
	height: 220px;
	width: 220px;
	background-color: #FF5C92;
	border-radius: 100%;
	top: 20%;
	left: 12%;
	z-index: 0;
	opacity: .7;
	transition: all linear 0.8s 0.8s;
}
.header-square.hide {
	left: -185px;
	top: -20%;
	transform: rotate(0deg);
}
.header-circle.hide {
	left: -225px;
	top: 8%;
}

@media screen and (max-width: 768px) {
	.cgm-header {
		height: 667px;
	}
	.cgm-header h3 {
		line-height: 45px;
	}

	.main--header .background-src {
		visibility: hidden;
	}

	.header-square {
		height: 80px;
		width: 80px;
	}
	.header-circle {
		height: 90px;
		width: 90px;
	}
}