/* MAIN PAGE */
.main--article-blurb p {
	font-size: 18px;
	margin: 0;
}

.main--read-more {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	border: white solid 2px;
	padding: 15px;
	cursor: pointer;
	transition: background linear .2s, color linear .2s;
	width: 280px;
}

.main--read-more:hover {
	color: #444;
	background: white;
}

.hero-header.hide {
	opacity: 0;
}

@media screen and (max-width: 768px) {
	.main--article-blurb p {
		font-size: 16px;
	}
}