/* RESUME PAGE */
.resume-page h2 {
	font-size: 30px;
	margin-bottom: 15px;
	background: #EEE;
	padding: 10px;
}
.resume-page h3 {
	font-size: 20px;
}
.resume-page h4 {
	margin-top: 0;
	margin-bottom: 10px;
}

.resume--unit {
	margin: 20px 0;
	border-bottom: 1px solid #EEE;
	padding-left: 10px;
}
.resume--unit.no-border {
	border: 0;
	padding-bottom: 20px;
}

.resume-page a {
	color: #444;
	text-decoration: none;
	cursor: pointer
}
.resume-page a:hover {
	text-decoration: underline;
}
.resume-page a:after {
	display: inline-block;
	width: 16px;
	height: 20px;
	content: "";
	background-image: url("../icons/link-arrow.svg");
	background-size: 12px;
	background-repeat: no-repeat;
	background-position: 50% 2px;
}