/* GENERAL STUFF */

body {
	margin: 0;
	font-family: sans-serif;
	font-weight: 300;
	line-height: 1.4;
	color: #444;
}

.hero-header {
	text-align: center;
	min-height: 427px;
	margin-bottom: 45px;
	color: white;
	background-size: cover;
	position: relative;
}

h1 {
	text-transform: uppercase;
	font-size: 100px;
	font-weight: 700;
	margin: 0;
}

h2 {
	text-transform: uppercase;
	font-size: 42px;
	font-weight: 700;
	margin: 0;
}

h3 {
	font-size: 30px;
	margin: 0;
}

.black-layer, .text-layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.black-layer {
	background-color: black;
	opacity: 0.5;
	z-index: 1;
}

.text-layer {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0 10%;
	z-index: 2;
	max-width: 1000px;
	margin: auto;
}

/* MAIN PAGE */

.main--header {
	background-image: url("https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.main--article-blurb p {
	font-size: 20px;
	margin: 0;
}

.main--read-more {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	border: white solid 2px;
	padding: 15px 120px;
	cursor: pointer;
	transition: background linear .2s, color linear .2s;
}

.main--read-more:hover {
	color: #444;
	background: white;
}

/* ARTICLES */

.article h1 {
	font-size: 42px;
}

.article h2 {
	padding: 15px 0;
	border-bottom: 1px dashed #CACACA;
	margin: 15px 0 45px;
}

.article p {
	font-size: 18px;
}

.article-content {
	max-width: 660px;
	margin: auto;
}

.article-content--image {
	text-align: center;
}
.article-content--image img {
	max-width: 100%;
	margin: auto;
	max-height: 400px;
}

/* FULLSCREEN IMAGE */
.diaporama {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 3;
	opacity: 1;
	transition: opacity linear .1s, z-index linear .1s;
}
.diaporama.hide {
	opacity: 0;
	z-index: -1;
}

.diaporama--background {
	background: black;
	opacity: .7;
	position: fixed;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.diaporama--click-open-message {
	color: #DDD;
	font-style: italic;
	position: fixed;
	top: 5%;
	right: 5%;
	opacity: 0;
	transition: opacity linear .2s;
}
.diaporama--image-link:hover .diaporama--click-open-message {
	opacity: 1
}

.diaporama--main-image {
	max-width: 100%;
	max-height: 100%;
	cursor: pointer;
	transition: max-width linear .1s, max-height linear .2s, transform linear .1s;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.diaporama--main-image:hover {
	transform: scale(1.01);
}