@import url('articles.css')
@import url('diaporama.css')
@import url('code-component.css')
@import url('figure-component.css')
@import url('main-page.css')

/* GENERAL STUFF */

body {
	margin: 0;
	font-family: sans-serif;
	font-weight: 300;
	line-height: 1.4;
	color: #444;
}

.hero-header {
	text-align: center;
	min-height: 427px;
	margin-bottom: 45px;
	color: white;
	background-size: cover;
	position: relative;
}

h1 {
	text-transform: uppercase;
	font-size: 100px;
	font-weight: 700;
	margin: 0;
}

h2 {
	text-transform: uppercase;
	font-size: 42px;
	font-weight: 700;
	margin: 0;
}

h3 {
	font-size: 30px;
	margin: 0;
}

.black-layer, .text-layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.black-layer {
	background-color: black;
	opacity: 0.5;
	z-index: 1;
}

.text-layer {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0 10%;
	z-index: 2;
	max-width: 1000px;
	margin: auto;
}
