<html>
	<head>
		<style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cristol GDM | Tokyo based JavaScript/Angular developer with a UX background</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.20/angular-ui-router.min.js"></script>
	<script data-main="./app-built.js" src="./scripts/require.js"></script>
	<link href="style-built.css" rel="stylesheet" type="text/css">
	<link rel="icon" type="image/png" href="/icons/favicon.png">
	<base href="/">
</head>
	<body ng-controller="MainController as control">
		<div class="side-menu-component" ng-class="{'show': control.shouldShowSideMenu()}">
			<div class="side-menu--button" ng-click="control.sideMenuOpened = !control.sideMenuOpened">
				<div class="side-menu--button-icon" ng-class="{'rotate': control.sideMenuOpened}">
					<img src="./icons/menu-arrow.png" />
				</div>
				<div class="side-menu--button-text">See more</div>
			</div>

			<div class="side-menu" ng-class="{'show': control.sideMenuOpened}">
				<div class="side-menu--line" ui-sref="home">HOME</div>
				<div class="side-menu--line" ui-sref="resume">MY RESUME</div>
				<div class="side-menu--line" ui-sref="contact">CONTACT ME</div>
			</div>

			<div class="side-menu--underlay" ng-if="control.sideMenuOpened" ng-click="control.sideMenuOpened = !control.sideMenuOpened"></div>
		</div>

		<ui-view></ui-view>

		<div class="footer" ui-sref-active="{'hide': 'home'}">
			<span class="footer--back-main footer--link" ui-sref="home"><span class="footer--link--arrow">←</span>Go back to main page</span>
			<span class="footer--back-top footer--link" ng-click="control.scrollBackTop()"><span class="footer--link--arrow">↑</span>Go back to top</span>
		</div>
	</body>
</html>