
body {
	margin: 0;
	font-family: sans-serif;
	font-weight: 300;
	line-height: 1.4;
	color: #444;
}
.hero-header {
	text-align: center;
	min-height: 427px;
	margin-bottom: 45px;
	color: white;
	background-size: cover;
	position: relative;
}
h1 {
	text-transform: uppercase;
	font-size: 100px;
	font-weight: 700;
	margin: 0;
}
h2 {
	text-transform: uppercase;
	font-size: 42px;
	font-weight: 700;
	margin: 0;
}
h3 {
	font-size: 30px;
	margin: 0;
}
.black-layer, .text-layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.black-layer {
	background-color: black;
	opacity: 0.5;
	z-index: 1;
}
.text-layer {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0 10%;
	z-index: 2;
	max-width: 1000px;
	margin: auto;
}
.main--header {
	background-image: url("https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
.main--article-blurb p {
	font-size: 20px;
	margin: 0;
}
.main--read-more {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	border: white solid 2px;
	padding: 15px 120px;
	cursor: pointer;
	transition: background linear .2s, color linear .2s;
}
.main--read-more:hover {
	color: #444;
	background: white;
}
.article h1 {
	font-size: 42px;
}
.article h2 {
	padding: 15px 0;
	border-bottom: 1px dashed #CACACA;
	margin: 15px 0 45px;
}
.article p {
	font-size: 18px;
}
.article-content {
	max-width: 660px;
	margin: auto;
}
.article-content--image {
	text-align: center;
	margin: 45px auto;
	background: #f5f5f5;
	padding: 10px;
}
.article-content--image img {
	max-width: 100%;
	margin: auto;
	max-height: 600px;
}
.article-content--image figcaption {
	margin-top: 10px;
	font-size: 14px;
}
.diaporama {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 3;
	opacity: 1;
	transition: opacity linear .1s, z-index linear .1s;
}
.diaporama.hide {
	opacity: 0;
	z-index: -1;
}
.diaporama--background {
	background: black;
	opacity: .7;
	position: fixed;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.diaporama--close {
	position: fixed;
	top: 20px;
	right: 20px;
	height: 20px;
	width: 20px;
	cursor: pointer;
}
.diaporama--click-open-message {
	color: #DDD;
	font-style: italic;
	position: fixed;
	top: 5%;
	right: 5%;
	opacity: 0;
	transition: opacity linear .2s;
}
.diaporama--image-link:hover .diaporama--click-open-message {
	opacity: 1
}
.diaporama--main-image {
	max-width: 100%;
	max-height: calc(100% - 168px);
	cursor: pointer;
	transition: transform linear .1s, opacity linear .2s, max-height linear .2s, bottom linear .2s;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 168px;
	left: 0;
	right: 0;
	opacity: 1;
}
.diaporama--main-image:hover {
	transform: scale(1.01);
}
.diaporama--main-image.while-loading{
	opacity: 0;
}
.diaporama--arrow {
	position: fixed;
	top: calc(50% - 50px);
	height: 50px;
	width: 50px;
	cursor: pointer;
}
.diaporama--arrow.left {
	left: 0;
	transform: rotate(180deg);
}
.diaporama--arrow.right {
	right: 0;
}
.diaporama--caption {
	color: #DDD;
	padding: 15px;
	position: relative;
}
.diaporama--bottom-section {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.7);
}
.diaporama--other-pictures {
	padding: 5px;
	max-height: 130px;
	white-space: nowrap;
	overflow-x: auto;
}
.diaporama--other-picture {
	margin: 0 5px;
	display: inline-block;
	width: 100px;
	height: 100px;
	border: #6495ed 3px solid;
	border-radius: 15px;
	background-size: cover;
	background-position: 50%;
	cursor: pointer;
	transition: border-color linear .1s, height linear .2s;
}
.diaporama--other-picture:hover {
	border-color: #8BB0F4;
}
.diaporama--other-picture.selected {
	border-color: #FFC65C;
}
.diaporama--close-preview {
	transform: rotate(90deg);
	position: absolute;
	top: 15px;
	right: 15px;
	height: 25px;
	width: 25px;
	cursor: pointer;
	transition: transform linear .2s;
}
.no-preview .diaporama--close-preview {
	transform: rotate(-90deg);
}
.no-preview .diaporama--other-picture {
	height: 0;
}
.no-preview .diaporama--main-image {
	max-height: calc(100% - 68px);
	bottom: 68px;
}