<div class="hero-header cgm-header" ng-style="{height: control.windowHeight}">
	<div class="inner-center-aligner">
		<div class="text-layer">
			<h1 ng-if="1==0">Cristol Grosdemouge-Ishikawa's professional website</h1>
			<h3>Hello, I'm <b>Cristol Grosdemouge-Ishikawa</b>, a multidisciplinary developer with long-term experience in JavaScript, C# and Java. I take pride in developing frictionless applications, writing elegant code, and drinking ungodly amounts of coffee.</h3>
			<h3><br />I hope you enjoy your stay.</h3>
		</div>
	</div>
</div>
<div ng-repeat="article in control.articles" id="header-{{article.id}}" class="hero-header main--article-blurb" ng-class="{'hide' : control.transitioning && control.transitionTarget !== article.id}">
	<div class="black-layer"></div>
	<div class="background-layer" ng-style="{'background-image': 'url(articles/'+ article.id +'/header.jpg)'}"></div>
	<div class="inner-center-aligner">
		<div class="text-layer">
			<h2>{{article.title}}</h2>

			<a class="main--read-more" ng-click="control.goToArticle(article.id)">Read</a>
		</div>
	</div>
</div>
<cg-header ng-if="!control.hasFinishedLoading" comment="used-to-preload-template"></cg-header>