<div class="resume-page article-content" ng-class="{'print': control.isPrint}">

	<a ng-if="!control.isPrint" ng-click="control.isPrint = true" class="resume--print-control">Printer-friendly version</a>
	<div ng-if="control.isPrint" class="resume--contact">
		<h1>Cristol Grosdemouge-Ishikawa</h1>
		<p>cristol.gdm@gmail.com<br />
			070-4092-0204<br />
			<a href="https://www.linkedin.com/in/cristolgdm/">LinkedIn profile</a></p>
	</div>

	<h2>Professional Experience</h2>

	<div class="resume--unit">
		<h3>Lead Frontend Developer - <a href="https://www.milleporte.com/" target="_blank">Milleporte</a>, Tokyo, Japan</h3>
		<h4>February 2019 - Current</h4>

		<p>
			Managed the frontend team in a luxury e-commerce website
		</p>
		<ul>
			<li>Grew the frontend team from 1 to 4 people</li>
			<li>Kept managing day to day operations</li>
			<li>Kept implementing new technological improvements (better caching, better websocket, etc)</li>
		</ul>
	</div>

	<div class="resume--unit">
		<h3>Frontend Developer - <a href="https://www.milleporte.com/" target="_blank">Milleporte</a>, Tokyo, Japan</h3>
		<h4>July 2016 - February 2019</h4>

		<p>
			Managed a luxury e-commerce website as a solo frontend developer
		</p>
		<ul>
			<li>Managed day to day operations</li>
			<li>Implemented several new features over the years (better filtering, site-wide lazyloading, automatic size-matching)</li>
			<li>Developed a whole new version of the website based on modern technologies</li>
			<li>Handled conversion process and user flow in partnership campaign with one of the biggest <i>sōgō shōsha</i> in Japan</li>
			<li>JavaScript (jQuery/Backbone/handlebars at first, switching to AngularJS later) for the frontend, Java (Tapestry) for the backend</li>
		</ul>
	</div>

	<div class="resume--unit">
		<h3>Frontend Developer - <a href="https://www.mensia.com/" target="_blank">Mensia</a>, France</h3>
		<h4>Nov 2015 - May 2016</h4>

		<p>
			Developed the frontend solution for the ADHD@Home research project.
		</p>
		<ul>
			<li>AngularJS App + Node(express) server</li>
			<li>PhantomJS pdf generation</li>
		</ul>
	</div>

	<div class="resume--unit">
		<h3>UX Lead / SEO Consultant - Hime-D***.com</h3>
		<h4>Jan 2015 - Aug 2015</h4>

		<p>
			Redesigned and fixed the SEO for a medium-sized content managemend website
		</p>
		<ul>
			<li>PHP, CSS, JavaScript</li>
			<li>SEO, Google Analytics</li>
			<li>Visits +90%, views +260%, bounce rate -22%</li>
		</ul>
	</div>

	<div class="resume--unit">
		<h3>UX Researcher - Tufts University, Boston, USA</h3>
		<h4>Jan 2011 - May 2014</h4>

		<p>
			Designed and conducted a protocol to evaluate the VBLasT surgical simulator
		</p>
		<ul>
			<li>User Testing, UI Design, Data Analysis, Field Research</li>
			<li>C#, Axure, Photoshop, Balsamiq</li>
		</ul>
	</div>

	<div class="resume--unit">
		<h3>Human Factors Engineer - École des Mines, Nantes, France</h3>
		<h4>Apr 2010 - Dec 2010</h4>

		<p>
			Designed and conducted a protocol to analyze the amount of haptic feedback necessary for surgery
		</p>
		<ul>
			<li>C#, Matlab</li>
		</ul>
	</div>

	<div class="resume--unit no-border">
		<h3>Human Factors / UX Research Internship - IBISC, Paris, France</h3>
		<h4>Apr 2010 - Dec 2010</h4>

		<p>
			Mockup, wireframe, and UI design for a control interface aimed at a healthcare robot in order to reduce home accidents.
		</p>
		<ul>
			<li>Decreased task completion by 24%</li>
			<li>C#, Matlab</li>
		</ul>
	</div>

	<h2>Education</h2>

	<div class="resume--unit">
		<h3>M.S in Human Factors Engineering</h3>
		<h4>Tufts University, 2014</h4>

		<p>Master Thesis: “Integration of non-verbal communication and social cues in a virtual environment.”</p>
	</div>

	<div class="resume--unit">
		<h3>M.S in Cognitive Psychology, Ergonomy specialty</h3>
		<h4>Université Rennes II, 2010</h4>

		<p>Master Thesis: “Reduction of Redundancy in a multimedia learning interface”</p>
	</div>

	<div class="resume--unit no-border">
		<h3>B.S in Psychology</h3>
		<h4>Université Rennes II, 2008</h4>

		<p>Senior Thesis: “Integration of Animated Agents in multimedia learning interfaces”</p>
	</div>

	<h2>Publications</h2>

	<div class="resume--unit">
		<h3><a href="https://www.ncbi.nlm.nih.gov/pubmed/23572217" target="_blank">Characterizing the learning curve of the VBLaST-PT(©) (Virtual Basic Laparoscopic Skill Trainer).</a></h3>
		<h4>Oct 2013 • Surgical Endoscopy, Vol.27 no.10, pp3603-15</h4>

		<p>We assessed the learning curve of trainees on the VBLaST-PT(©) using the cumulative summation (CUSUM) method and compared them with those on the FLS to establish convergent validity for the VBLaST-PT(©).</p>
	</div>

	<div class="resume--unit">
		<h3><a href="https://www.ncbi.nlm.nih.gov/pubmed/22317056" target="_blank">The added value of virtual reality technology and force feedback for surgical training simulators</a></h3>
		<h4>2012 • Work. 2012;41 Suppl 1:2288-92</h4>

		<p>This study assessed the current haptic and virtual reality (VR) technology of a virtual peg transfer task of the VBLaST, based on the subjective preference of surgeons and their objective task performance measures.</p>
	</div>

	<div class="resume--unit">
		<h3><a href="https://journals.sagepub.com/doi/abs/10.1177/1071181311551452" target="_blank">Haptic Communication for a 2D Pointing Task in a Virtual Environment</a></h3>
		<h4>Sep 2011 • Proceedings of the Human Factors and Ergonomics Society Annual Meeting, vol. 55 no. 1</h4>

		<p>This paper examines the properties of haptic communication between two human operators using kinesthetic haptic devices in a collaborative task in a virtual environment.</p>
	</div>

	<div class="resume--unit">
		<h3><a href="https://journals.sagepub.com/doi/abs/10.1177/1071181311551245" target="_blank">Haptic Sensitivity in Compliance Evaluation in a Tool-Wielding Paradigm</a></h3>
		<h4>Sep 2011 • Proceedings of the Human Factors and Ergonomics Society Annual Meeting, vol. 55 no. 1</h4>

		<p>This paper describes a methodology for establishing standardized tests of haptic sensitivity in a tool-wielding paradigm.</p>
	</div>

	<div class="resume--unit no-border">
		<h3><a href="https://www.sciencedirect.com/science/article/pii/S1474667015325076" target="_blank">Remote control of a real robot taking into account transmission delays</a></h3>
		<h4>Aug 2010 • 11th IFAC,IFIP,IFORS,IEA Symposium on Analysis, Design, and Evaluation of Human-Machine Systems (2010)</h4>

		<p>In this paper we propose solutions to remote control a robot through the Internet, taking into account the transmission delays. The objective is to deal with the existing delays, not to try to reduce them.</p>
	</div>

	<h2>Languages</h2>

	<div class="resume--unit no-border">
		<ul>
			<li>French: native</li>
			<li>English: fluent (GRE 1390/1600; TOEIC 103/120)</li>
			<li>Japanese: professional (JLPT N2)</li>
		</ul>
	</div>
</div>