<div class="hero-header main--header">
	<div class="black-layer"></div>
	<div class="text-layer">
		<h1>{{control.titles['header'][0]}}</h1>
		<h3>{{control.titles['header'][1]}}</h3>
	</div>
</div>
<div ng-repeat="article in control.articles" id="header-{{article.id}}" class="hero-header main--article-blurb" ng-style="{'background-image': 'url(articles/'+ article.id +'/header.jpg)'}">
	<div class="black-layer"></div>
	<div class="text-layer">
		<h2>{{article.title}}</h2>
		<!-- <p>{{article.blurb}}</p> -->

		<a class="main--read-more" ng-click="control.goToArticle(article.id)">Read</a>
	</div>
</div>