<div class="hero-header main--header" ng-style="{'background-image': 'url(' + control.coolImage + ')'}">
	<div class="black-layer"></div>
	<div class="inner-center-aligner">
		<div class="text-layer">
			<h1>{{control.titles['header'][0]}}</h1>
			<h3>{{control.titles['header'][1]}}</h3>
		</div>
	</div>
</div>
<div ng-repeat="article in control.articles" id="header-{{article.id}}" class="hero-header main--article-blurb">
	<div class="black-layer"></div>
	<div class="background-layer" ng-style="{'background-image': 'url(articles/'+ article.id +'/header.jpg)'}"></div>
	<div class="inner-center-aligner">
		<div class="text-layer">
			<h2>{{article.title}}</h2>

			<a class="main--read-more" ng-click="control.goToArticle(article.id)">Read</a>
		</div>
	</div>
</div>