<div class="diaporama" ng-class="{'hide': !diaporama.imageService.shouldShowFullscreen(), 'no-preview': diaporama.closePreview}">
	<img src="/icons/thick-close.png" class="diaporama--close" ng-click="diaporama.imageService.hideFullScreen()"/>

	<a ng-href="{{diaporama.imageService.getCurrentImage().src}}" target="_blank" class="diaporama--image-link">
		<span class="diaporama--click-open-message">(Click on the image to open it in a new tab)</span>
		<img ng-src="{{diaporama.imageService.getCurrentImage().src}}" 
			class="diaporama--main-image"
			ng-class="{'while-loading': diaporama.isLoading}"></img>
	</a>

	<img src="/icons/thick-arrow.png" class="diaporama--arrow left" ng-click="diaporama.selectPreviousImage()" ng-if="diaporama.imageService.getAllImages().length > 1"/>
	<img src="/icons/thick-arrow.png" class="diaporama--arrow right" ng-click="diaporama.selectNextImage()" ng-if="diaporama.imageService.getAllImages().length > 1"/>

	<div class="diaporama--bottom-section">

		<div class="diaporama--caption">
			<img src="/icons/thick-arrow.png" class="diaporama--close-preview" ng-click="diaporama.closePreview = !diaporama.closePreview" ng-if="diaporama.imageService.getAllImages().length > 1"/>
			{{diaporama.imageService.getCurrentImage().caption}}
		</div>
		<div class="diaporama--other-pictures" ng-if="diaporama.imageService.getAllImages().length > 1">
			<div ng-repeat="preview in diaporama.imageService.getAllImages()"
				class="diaporama--other-picture"
				ng-class="{'selected': preview.src === diaporama.imageService.getCurrentImage().src}"
				ng-style="{'background-image' : 'url(' + preview.src + ')'}"
				ng-click="diaporama.setCurrentImage(preview.src, preview.caption)">
			</div>
		</div>
	</div>

	<div class="diaporama--background" ng-click="diaporama.imageService.hideFullScreen()"></div>
</div>